[Unit]
Description=Hyprland Dynamic Workspace Compactor Daemon
PartOf=hyprland-session.target
After=hyprland-session.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 %h/.config/hypr/scripts/compact_workspaces.py
Restart=always
RestartSec=1s

[Install]
WantedBy=hyprland-session.target
